{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<style>
    body {
        overflow-x: hidden;
    }
    body::before {
        content: "";
        position: fixed;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: radial-gradient(circle, rgba(157, 0, 255, 0.05) 0%, transparent 70%);
        pointer-events: none;
        z-index: -1;
    }
</style>

<div class="header-div">
    <img src="{{ url_for('static', filename='images/adorn_saturn_logo.png') }}" 
    alt="Adorn Saturn Logo" 
    class="header-logo">
    <form method="get" action="{{ url_for('index') }}">
        <button name="index-btn">Home</button>
    </form>
    {% if 'user_id' in session and session['user_id'] != 0 %}
        <form method="get" action="{{ url_for('my_orders') }}">
            <button name="orders-btn">Minhas Compras</button>
        </form>
        <form method="get" action="{{ url_for('cart') }}">
            <button name="products-btn">Carrinho</button>
        </form>
        <form method="get" action="{{ url_for('user') }}">
            <button name="profile-btn">Perfil</button>
        </form>
        {% if is_admin %}
            <form method="get" action="{{ url_for('manage_users') }}">
                <button name="users-btn">Editar usuários</button>
            </form>
            <form method="get" action="{{ url_for('admin_orders') }}">
                <button name="users-btn">Pedidos</button>
            </form>
        {% endif %}
        <form method="get" action="{{ url_for('logout') }}">
            <button name="logout-btn">Log out</button>
        </form>
    {% endif %}
</div>
<br><hr><br>