<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Login</title>
</head>
<body class="login-page">
    <form method="get" action="{{ url_for('register') }}">
        <button name="register-btn">Registrar</button>
    </form>
    <hr>
    <form method="post">
        <div class="form-group">
            <h1>Entre na sua conta</h1>

            {% if login_failed %}
                <p>Login inválido</p>
            {% endif %}
            
            <label for="email">E-mail: </label></br>
            <input type="text" name="email" id="email"></br>
            
            <label for="password">Senha: </label></br>
            <input type="password" name="password" id="password"></br>
        </div>
        <div>
            <button type="submit" class="btn-neon">Entrar</button>
        </div>
    </form>
</body>
</html>